@import 'tailwindcss';
@import './theme.css';

.magicpattern {
  width: 100%;
  height: 100%;

  background-color: #0a192f;

  background-image:
    linear-gradient(#112240 1px, transparent 1px),
    linear-gradient(90deg, #112240 1px, transparent 1px);

  background-size: 40px 40px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.out-top {
  animation: rotate 20s linear infinite;
  transform-origin: 13px 25px;
}
.in-top {
  animation: rotate 10s linear infinite;
  transform-origin: 13px 25px;
}
